
.box{
    margin-top: -2.5rem;
    width: 80%;
    border-radius: 25px 0;
    background-color: #fafafa;
    border: 15px solid rgb(2, 2, 2);
    padding: 25px;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 3rem; 

}
.div h1{
    background-color: rgb(7, 6, 6);
    border-radius: 10px 0;
    width: 100%;  
    color: red;
    position: static;
    text-align: center;   
}
.sec1{
    background-color: red;
    min-height: 120vh;
    width: 100%;  
    
}
.div p{
    font-size: 1.5rem;
}
.h1{
    font-size: 5rem;
    position: static;
    text-align: center;
}
.formC{
    justify-content: center;
    flex-direction: row;
    display: flex;
    border-radius: 5px;
    width: 50%;
    padding: 5px;
    border: 15px solid red;
   
}
/* .formB{
    margin-top: -2rem;
    margin-right: -9rem;
    height: 300px;
} 
 .formA{
    margin-left: 9rem;
} */
